@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Summary Sewa Mobil</title>
    <link rel="stylesheet" href="/css/summary.css" />
</head>
<body>

<h2 class="title">Sewa Mobil</h2>

<div class="image-box">
    <img src="/images/1c-daihatsuAlya.jpg" class="car-img" />
</div>

<div class="info-card">
    <h3>Informasi Mobil</h3>

    <table>
        <tr><td>Tipe Mobil</td><td><b>Suzuki Ertiga</b></td></tr>
        <tr><td>Nama Mobil</td><td>Suzuki Ertiga 2019</td></tr>
        <tr><td>Transmisi</td><td>Automatic</td></tr>
        <tr><td>Jumlah Penumpang</td><td>7 Penumpang</td></tr>
        <tr><td>Nama Penyewa</td><td>Putra (putra44@gmail.com)</td></tr>
        <tr><td>Tanggal Sewa</td><td>16–19 Oktober 2024</td></tr>
        <tr><td>Harga Sewa</td><td>Rp 450.000 / hari</td></tr>
        <tr><td>Total Harga Sewa</td><td><b>Rp 1.800.000</b></td></tr>
    </table>

    <button class="btn-sewa">Sewa</button>
</div>

</body>
</html>
